<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="w-full h-full bg-zinc-900 p-10 text-white">
            <h1 class="text-3xl tracking-tighter mb-3"> Update User </h1>
            <form action="/update/<%= user._id %>" method="post">
                <input class="px-5 py-3 border-2 border-zinc-600 bg-transparent outline-none rounded-lg" type="text" name="name" placeholder="name" value="<%= user.name%>">
                <input class="px-5 py-3 border-2 border-zinc-600 bg-transparent outline-none rounded-lg" type="email" name="email" placeholder="Email" value="<%= user.email%>">
                <input class="px-5 py-3 border-2 border-zinc-600 bg-transparent outline-none rounded-lg" type="text" name="image" placeholder="Image URL" value="<%= user.image%>">
                <input class="px-5 py-3 bg-green-700 rounded-lg ml-3" type="submit" value="Update User">
            </form>
            <div class="nav mt-3">
                <a class="text-xl text-blue-600" href="/read">Read</a>
            </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>